.main-header {
  background-color: #0057A5;
  display: flex;
  font-size: 1.25em;
  justify-content: space-around;
  padding: .75rem;
}

#HomeLinkHome,
#LogoutLink {
  color: white;
  text-decoration: none;
}