/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: 
  url("./Components/assets/BGIMG.png");
  background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed;
} */
