div{
display: inline-block;

}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: 
  url("C:\Users\Admin\Desktop\meritamerica\MeritFinCap\final-capstone\frontend\src\Components\assets\BGIMG.png");
  background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed;
}
